PORT=5000

#Use MongoDB Atlas because transactions require a replica set or sharded cluster, which standalone local instances don't support.
MONGO_URI=mongodb://localhost:27017/stockflow

JWT_SECRET=your-secret-key